.button {
  composes: h4 from '../../index.scss';
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
  box-sizing: border-box;
  background-color: rgba(#ffffff, 0.7);
  width: 250px;
  border: 6px solid var(--primary-color);
  height: 60px;
  cursor: pointer;
  transition: background 0.3s linear;
  color: var(--primary-color);
  text-decoration: none;
  margin: 16px auto;
  &:hover {
    background-color: white;
  }
}
