.wrapper {
  display: flex;
  flex-direction: column;
}

.boardWrapper {
  display: flex;
  align-items: center;
}

.imageWrapper {
  margin-right: 16px;
  margin-bottom: 16px;
}

.image {
  border-radius: 100%;
  @media (max-width: 600px) {
    width: 100px;
    height: 100px;
  }
}

.name {
  composes: h4 from '../../index.scss';
  margin: 0 0 8px;
}

.role {
  composes: paragraphUI from global;
  font-weight: 300;
  margin: 0;
}