.renderedContent {
  font-size: 15px;
  line-height: 27px;
  margin-bottom: 24px;
  font-weight: 500;
  white-space: pre-line;
  margin-bottom: 40px;
}

.goBack {
  display: block;
  font-weight: 500;
  margin-bottom: 32px;
  cursor: pointer;
}
