.headSection {
  position: relative;
  height: calc(50vh - 72px);
  width: 100vw;
  background-color: #fafafa;
}

.headBg {
  position: relative;
  width: 100%;
  height: calc(100% - 100px);
}

.headBgImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.headBgImageOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(#801917, .65);
  z-index: 1;
}

.headContentWrapper {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  color: var(--primary-color);
}

.headContent {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 16px;
}

.headLogo {
  @media (max-width: 600px) {
    width: 300px;
    height: 75px;
  }
  position: absolute;
  bottom: 100%;
  width: 400px;
  height: 100px;
  display: block;
  margin-bottom: 32px;
}

.headTitle {
  composes: h1 from '../../index.scss';
  margin-bottom: 0;
  line-height: 68px;
  color: var(--primary-color);
}