.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 201;
  background-color: white;
  outline: none;
  @media (min-width: 601px) {
    top: 52px;
    left: 52px;
    right: 52px;
    bottom: 52px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  background-color: rgba(#000000, .4);
}

.closeButton {
  display: block;
  background: none;
  color: #ff5555;
  height: 48px;
  align-self: flex-end;
  padding: 0 0 0 16px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.wrapper {
  composes: row from global;
}

.headline {
  composes: h3 from '../../index.scss';
  margin-bottom: 32px;
}

.stepHeadline {
  composes: h4 from '../../index.scss';
  margin-bottom: 32px;
}

.select {
  width: 100%;
  height: 52px;
  font-family: 'Metropolis';
  font-size: 16px;
  line-height: 40px;
  font-weight: 600;
  background: none;
  border: 4px solid #ff5555;
  border-right: none;
  border-radius: 2px;
  margin-bottom: 32px;
  outline: none;
  padding: 0 16px;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%),
    linear-gradient(to right, #ff5555, #ff5555);
  background-position:
    calc(100% - 26px) calc(16px + 2px),
    calc(100% - 18px) calc(16px + 2px),
    100% 0;
  background-size:
    8px 8px,
    8px 8px,
    52px 52px;
  background-repeat: no-repeat;

  &:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, gray, gray);
    background-position:
      calc(100% - 18px) 16px,
      calc(100% - 26px) 16px,
      100% 0;
    border-color: grey;
    outline: 0;
  }
}