.section {
  min-height: calc(100vh - 72px);
  box-sizing: border-box;
  display: block;
  position: relative;
}

.fullWidth {
  composes: section;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.grid {
  composes: section;
  composes: row from global;
  padding: 80px 24px;
}

.heading {
  composes: h2 from '../../index.scss';
  margin: 0;
  margin-bottom: 32px;
  text-align: center;
  @media (min-width: 600px) {
    margin-bottom: 40px;
  }
  @media (min-width: 768px) {
    margin-bottom: 80px;
  }
}

.bgImageWrapper {
  position: absolute;
  z-index: -1;
  bottom: 0;
  max-height: calc(100% - 225px);
  width: 100%;
  overflow: hidden;
}

.bgImageLeft {
  composes: bgImageWrapper;
  left: 0;
  @media (min-width: 960px) {
    left: calc((100% - 960px) / 2);
  }
}

.bgImageRight {
  composes: bgImageWrapper;
  right: 0;
  @media (min-width: 960px) {
    right: calc((100% - 960px) / 2);
  }
}

.bgOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(white, 0.75);
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.content {
}
