.wrapper {
  flex: 1;
  margin: 0 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
}

.radio {
  display: none;
  &:checked {
    + .box {
      background-color: #ff5555;
    }
  }
}

.box {
  composes: subHeadline from '../../../index.scss';
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#ff5555, .5);
  color: white;
  width: 200px;
  height: 60px;
  cursor: pointer;
  transition: all .3s linear;
  padding: 0 32px;
  &:hover {
    background-color: #ff5555;
  }
}