.wrapper {
  flex: 1;
  margin: 0 16px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  text-decoration: none;
}

.radio {
  display: none;
  &:checked {
    + .box {
      background-color: var(--primary-color);
      border: 4px solid white;
    }
  }
}

.box {
  composes: subHeadline from '../../../index.scss';
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#801917, 0.75);
  color: white;
  width: 300px;
  height: 60px;
  cursor: pointer;
  transition: background 0.3s linear;
  padding: 0 24px;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  &:hover {
    background-color: var(--primary-color);
  }
}
